<html>
<head>
    <title>
    </title>
</head>
<body>
    <div id="async_res_zone">
        {% for commentaire in commentaires %}
        <div class="comment border">
            <div class="border fst-italic">
                {{commentaire.prenom}} {{commentaire.nom}}
            </div>
            <div class="border comment-message">
                {{commentaire.message}}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>