{% extends 'layout.twig' %}
{% block style_sheet %}
    <link href="http://127.0.0.1/Projet%20OC5/style/404.css" rel="stylesheet">
{% endblock %}
{% block content %}
    
    <div class="text-center">
        <div class="error-page-zone border border-light">
            <span class="fs-3 d-block">Erreur 404 :</span> 
            <span class="fs-5">la page que vous demandez n'existe pas<br>
            <a href="http://127.0.0.1/Projet%20OC5/accueil/index">revenir à la page d'accueil</a></span> 
        </div>
    </div>
{% endblock %}
