{% extends 'layout.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block style_sheet %}
{% endblock %}

{% block content%}
     <div class="section align-items-center">
        <form id="sing_form" method="post" action="http://127.0.0.1/Projet%20OC5/utilisateurs/inscription">
            <div>
                <div class="form-group">
                    <label for="name">
                        Nom :
                    </label> 
                    <br>
                    <input require type="text" id="name" name="name"/>
                </div>
                <div class="form-group">
                    <label for="firstname">
                        Prénom : 
                    </label> 
                    <br>
                    <input placeholder type="text" id="firstname" name="firstname">
                </div>
                <div class="form-group">
                    <label for="birth_day">
                        Date de naissance : 
                    </label> 
                    <br>
                    <input placeholder type="date" id="birth_day" name="birth_day">
                </div>
                <div class="form-group">
                    <label for="email">
                        Email :
                    </label>
                    <br>
                    <input placeholder type="email" id="email" name="email"> 
                </div>
                <div class="form-group">
                    <label for="password">
                        Mot de passe :
                    </label>
                    <br>
                    <input placeholder type="password" id="password" name="password"> 
                </div>
                <div class="form-group">
                    <label for="confirm_password">
                        Confimer :
                    </label>
                    <br>
                    <input placeholder type="password" id="confirm_password" name="confirm_password"> 
                </div>
                <div  class="form-group text-end">
                    <input class="btn btn-primary" type="submit">             
                </div>
                <div class="text-center">
                    <a class="text-primary" href="http://127.0.0.1/Projet%20OC5/utilisateurs/sidentifier"> Déjà un compte ? Connectez-vous !</a>
                </div>
            </div>
        </form>
        <div class="alert">
        </div>
    </div>
{% endblock %}
{% block javascript_link %}
    <script src="http://127.0.0.1/Projet%20OC5/JS/form_inscription.js"></sript>
{% endblock %}