
    .pre_visu_img{
        height: 200px;
        width: 380px; 
        object-fit: cover;
        display: none;

    }
    
    main .document-editor {
        border: 1px solid #DFE4E6;
        border-bottom-color: #cdd0d2;
        border-right-color: #cdd0d2;
        border-radius: 2px;
        max-height: 700px;
        display: flex;
        flex-flow: column nowrap;
        box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    }

    main .toolbar-container {
        z-index: 1;
        position: relative;
        box-shadow: 2px 2px 1px rgba(0,0,0,.05);
    }

    main .toolbar-container .ck.ck-toolbar {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
    }

    main .content-container {
        padding: var(--ck-sample-base-spacing);
        background: #eee;
        overflow-y: scroll;
    }

    main .content-container #editor {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        width: 15.8cm;
        min-height: 21cm;
        padding: 1cm 1cm 2cm;
        margin: 0 auto;
        box-shadow: 2px 2px 1px rgba(0,0,0,.05);
    }