{% extends 'layout.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block style_sheet %}
    <link href="http://127.0.0.1/Projet%20OC5/Public/css/accueil.css" rel="stylesheet"/>
{% endblock %}  
{% block identification %}
    {# {% if user.nom is defined %}

        <span class="fs-5 text-light text-center">{{user.prenom}} {{user.nom }}</span><br>
        <a href="../utilisateur/sedeconnecter" id="btn-sedeconnecter" class="btn btn-light text-center"> Se déconntecter </a>

    {% else %}
        
        <a href="../utilisateur/seconnecter" class="btn btn-light"> Se connecter</a>
        <a href="../utilisateur/sinscrire" class="btn btn-dark"> S'inscrire </a>
    
    {% endif %} #}
{% endblock %}
{% block content%}
    <div class="section">
        <div class="row">
            <div class="text-center align-items-centergit">
                <img class="photo_accueil" height="300" width="533" src="../media/image/emilearmengaud.jpg">
            </div>
            <div class="col">
                <h2>
                    Emile : Développeur web php/Symfony
                </h2>
                <span>
                    
                    {% for paragraphe in description %}
                        <p>
                            {{paragraphe}}
                        </p>
                    {% endfor %}
                
                </span>
            </div>
        </div>
    </div>
    <div class="section">
        <h3 class="online-title"> CV : </h3> <a href="../media/PDF/CV.pdf"><img class="cv_icon" src="../media/image/icone/icon_pdf.png"></a>
    </div>
    <div class="section">
        <form id="send_message_form" method="post" action="../message/envoyer">
            <h3>
                Contact :
            </h3>
            <div>
                <div class="row form-group">
                    <div class="col-6">
                        <label>
                            Nom :
                        </label> 
                        <br>
                        <input require type="text" id="name" name="name"/>
                    </div>
                    <div class="col-6">
                        <label>
                            Prénom : 
                        </label> 
                        <br>
                        <input placeholder type="text" id="firstname" name="firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Email :
                    </label>
                    <br>
                    <input placeholder type="email" id="email" name="email"> 
                </div>
                <div class="form-group">
                    <label>
                        Objet :
                    </label>
                    <br>
                    <input type="text" id="objet" name="objet"> 
                </div>
                <div class="form-group">
                    <label>
                        Message :
                    </label>
                    <br>
                    <textarea placeholder id="message" name="message">
                    </textarea> 
                </div>
                <div  class="form-group text-end">
                    <input class="btn btn-primary" type="submit">             
                </div>
            </div>
        </form>
        <div class="alert">
        </div>
    </div>
{% endblock %}
{% block javascript_link %}
    <script src="../Public/JS/Message/send.js"></script>
{% endblock %}
