{% extends 'layout.twig' %}
{% block style_sheet %}
<<<<<<< HEAD
    <link href="http://127.0.0.1/Projet%20OC5/Public/css/Article/nouveau.css" rel="stylesheet">
=======
    <link href="http://127.0.0.1/Projet%20OC5/style/Article/nouveau.css" rel="stylesheet">
>>>>>>> OCR5/master
{% endblock %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <form id="formulaire_ajout_article" action="http://127.0.0.1/Projet%20OC5/article/ajout" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-4 main_img_article_zone">
                <img src="" class="pre_visu_img" id="pre_visu_img"/>
            </div>
            <div class="col-6">
                <input required type="text" name="title_article" id="title_article" class="form-control form-control-lg" placeholder="Saisissez le titre de l'article"/>
                <input required type="file" name="title_image" id="title_image" class="form-control" accept=".png, .jpeg"/>
            </div>
        </div>
        <textarea name="editor" id="editor">
        </textarea>
        <input type="submit" id="ajouter_article" class="btn btn-primary"/>
    </form>
    <div class="alert" id="alert_zone">
    </div>
{% endblock %}
{% block javascript_link %}
    <script src="../vendor/ckeditor/ckeditor/ckeditor.js"></script>
<<<<<<< HEAD
    <script src="../Public/JS/Article/add.js"></script>
=======
    <script src="../JS/Article/add.js"></script>
>>>>>>> OCR5/master
{% endblock %}
