{% extends 'layout.twig' %}
{% block style_sheet %}
{% endblock %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <div id="messages_list"></div>
{% endblock %}
{% block javascript_link %}
    <script src="http://127.0.0.1/Projet%20OC5/JS/get_messages.js"></script>
{% endblock %}