{% extends 'layout.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block style_sheet %}
{% endblock %}
{% block content%}
     <div class="section align-items-center">
<<<<<<< HEAD
        <form id="sing_form" action="../utilisateur/inscription" method="post">
=======
        <form id="sing_form" method="post">
>>>>>>> OCR5/master
            <div>
                <div class="form-group">
                    <label for="name">
                        Nom :
                    </label> 
                    <br>
<<<<<<< HEAD
                    <input require type="text" id="name" name="name"/>
=======
                    <input require type="text" id="name" value="Armengaud" name="name"/>
>>>>>>> OCR5/master
                </div>
                <div class="form-group">
                    <label for="firstname">
                        Prénom : 
                    </label> 
                    <br>
<<<<<<< HEAD
                    <input require type="text" id="firstname" name="firstname">
=======
                    <input require type="text" id="firstname" value="Emile" name="firstname">
>>>>>>> OCR5/master
                </div>
                <div class="form-group">
                    <label for="user_name">
                        Nom d'utilisateur : 
                    </label> 
                    <br>
<<<<<<< HEAD
                    <input require type="text" id="user_name" name="user_name">
=======
                    <input require type="text" id="user_name" value="Hermès" name="user_name">
>>>>>>> OCR5/master
                </div>
                <div class="form-group">
                    <label for="user_name">
                        Numéro de téléphone : 
                    </label> 
                    <br>
<<<<<<< HEAD
                    <input require type="tel" id="phone_number" name="phone_number">
=======
                    <input require type="tel" id="phone_number" value="066086162" name="phone_number">
>>>>>>> OCR5/master
                </div>
                <div class="form-group">
                    <label for="birth_day">
                        Date de naissance : 
                    </label> 
                    <br>
<<<<<<< HEAD
                    <input require type="date" id="birth_day" name="birth_day">
=======
                    <input require type="date" id="birth_day"  name="birth_day">
>>>>>>> OCR5/master
                </div>
                <div class="form-group">
                    <label for="email">
                        Email :
                    </label>
                    <br>
<<<<<<< HEAD
                    <input require type="email" id="email" name="email"> 
=======
                    <input require type="email" id="email" value="emilearmengo@gmail.com" name="email"> 
>>>>>>> OCR5/master
                </div>
                <div class="form-group">
                    <label for="password">
                        Mot de passe :
                    </label>
                    <br>
<<<<<<< HEAD
                    <input require type="password" id="password" name="password"> 
=======
                    <input require type="password" id="password" value="" name="password"> 
>>>>>>> OCR5/master
                </div>
                <div class="form-group">
                    <label for="confirm_password">
                        Confimer :
                    </label>
                    <br>
<<<<<<< HEAD
                    <input require type="password" id="confirm_password" name="confirm_password"> 
=======
                    <input require type="password" id="confirm_password" value="" name="confirm_password"> 
>>>>>>> OCR5/master
                </div>
                <div  class="form-group text-end">
                    <input class="btn btn-primary" type="submit">             
                </div>
                <div class="text-center">
<<<<<<< HEAD
                    <a class="text-primary" href="../utilisateur/seconnecter"> Déjà un compte ? Connectez-vous !</a>
=======
                    <a class="text-primary" href="http://127.0.0.1/Projet%20OC5/utilisateur/seconnecter"> Déjà un compte ? Connectez-vous !</a>
>>>>>>> OCR5/master
                </div>
            </div>
            <div class="alert" id="notif_zone">
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript_link %}
<<<<<<< HEAD
    <script src="http://127.0.0.1/Projet%20OC5/Public/JS/Utilisateur/register.js"></script>
=======
    <script src="http://127.0.0.1/Projet%20OC5/JS/Utilisateur/register.js"></script>
>>>>>>> OCR5/master
{% endblock %}